<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwConfigExceptions="true"
      throwExceptions="true"
      internalLogLevel="Off">
  <variable name="header" value="${mdlc:item=request-id} ${longdate} [${logger}] [${level}] ${mdlc:item=extended}" />
  <variable name="duration" value="duration: ${mdlc:item=execution-time}ms" />
  <variable name="remote-address" value="remote address: ${aspnet-request-ip:CheckForwardedForHeader=true}" />
  <variable name="request-body" value="${replace-newlines:${aspnet-request-posted-body}}" />
  <variable name="inline-error" value="${replace-newlines:${exception:format=ToString}}" />
  <targets>
    <target
      xsi:type="Console"
      name="requestConsole"
      layout="${header}|${duration}|${aspnet-request-url}|${aspnet-response-statuscode}|${remote-address}|${message}|${request-body}|${inline-error}" />
    <target
      xsi:type="Console"
      name="generalConsole"
      layout="${header}|${aspnet-request-method}|${aspnet-request-url}|${message}|${inline-error}" />
    <target
      xsi:type="Console"
      name="controllerConsole"
      layout="${header}|${message}|${inline-error}" />
  </targets>
  <rules>
    <!--Ignore sentry logs-->
    <logger name="Sentry.*" minlevel="Trace" maxlevel="Info"  final="true" />

    <logger name="*RequestLoggingMiddleware" minLevel="Trace" writeTo="requestConsole" final="true">
      <filters defaultAction='Log'>
        <when condition="equals('${event-properties:url}', '/health')" action="IgnoreFinal" />
        <when condition="equals('${event-properties:url}', '/health/live')" action="IgnoreFinal" />
        <when condition="equals('${event-properties:url}', '/health/read')" action="IgnoreFinal" />
      </filters>
    </logger>
    <logger name="*Controller" minLevel="Trace" writeTo="controllerConsole" final="true" />
    <logger name="*" minLevel="Trace" writeTo="generalConsole" />
  </rules>
</nlog>